.postImg {
  max-width: 500px;
  max-height: 300px;
  display: block;
  margin: auto;
}

.post {
  margin-top: 40px;
  padding: 10px 0;
  background-color: var(--post-color);
  border-radius: 12px 12px 0 0;
  position: relative;

}

.postContent {
  padding: 10px;
}

.userPost {
  padding: 0 5px;
}

.userPost img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.numCommentsAndLikesBox {
  display: flex;
  justify-content: space-between;
}

.numCommentsAndLikesBox p {
  display: flex;
  align-items: center;
}

.numCommentsAndLikesBox svg {
  color: #d93636;
}

.addLikeAndComment {
  display: flex;
  justify-content: space-between;
  background: var(--main-color);
}

.addLikeAndComment button {
  width: 50%;

  border-radius: 0;
  display: flex;
  justify-content: flex-end;
}

.addComment {
  justify-content: flex-start !important;

}

.addComment {
  font-size: 1rem !important;
  color: var(--negative-color) !important;
}

.addCommentForm {
  width: 100%;
  position: relative;
}

.addCommentForm button {
  width: 20%;
  padding: 5px;
}

.addCommentForm input {
  width: 80%;
  padding: 5px;

}

.addimgComment {
  position: absolute;
  right: 20%;
  top: 3px;
}

.addimgComment input {
  display: none;
}

.commentBox {
  border-bottom: 1px solid var(--sacndry-color);
}

.ownerComment {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.ownerCommentBox {
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: 12px;
}

.contentComment {
  padding: 5px 20px;
}

.contentComment img {
  max-width: 200px;
  border-radius: 12px;
}

.allComments {
  position: absolute;
  left: 50%;
  top: 100px;
  transform: translateX(-50%);
  width: 90%;
  background-color: var(--main-color);
}